.homepage {
    display: flex;
    margin-left: 10px;
    background:skyblue;
}

.btn{
    margin-top: 5px;
    height: 40px;
    width: 90px;
    margin-right: 20px;
}
.logout{
 text-align: center;
}
